<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.blog.backend.mapper.ArticleMapper">

    <select id="findAllPost" resultType="com.blog.backend.entity.VO.ArticlePost">
        SELECT
            a.article_id, a.title,a.read_count,a.like_count,a.article_summary,
            GROUP_CONCAT(t.tag_id) AS tagIds
        FROM
            article a
                LEFT JOIN article_tag_referenced atr ON a.article_id = atr.article_id
                LEFT JOIN tag t ON atr.tag_id = t.tag_id
        GROUP BY
            a.article_id
    </select>

    <insert id="insert" useGeneratedKeys="true" keyProperty="articleId">
        insert into article (title, article_summary) values (#{title}, #{articleSummary})
    </insert>
</mapper>
